body a{
    text-decoration: none;
    color: inherit;
}
.titulo{
    background: rgb(91,255,0);
    background: linear-gradient(90deg, rgba(91,255,0,1) 0%, rgba(98,228,233,0.9612219887955182) 0%, rgba(89,159,231,1) 34%, rgba(64,247,240,0.9051995798319328) 68%, rgba(95,146,199,1) 99%);
    font-size: 5em;
}
.menu ul{
    display: flex;
    list-style: none;
    background: rgb(91,255,0);
    background: linear-gradient(90deg, rgba(91,255,0,1) 0%, rgba(98,228,233,0.9612219887955182) 0%, rgba(89,159,231,1) 34%, rgba(64,247,240,0.9051995798319328) 68%, rgba(95,146,199,1) 99%);    
    margin-left: -12px;
    margin-right: -12px;
}
.menu li{
    font-size: 1em;
    color:inherit;
    margin-left: -20px;
    margin-right: 25px;
    border-style: solid;
    border-color: rgba(8, 8, 8, 0.021);
}
.menu li:nth-child(3){
    background-color: rgba(8, 8, 8, 0.5);
    color:white;
}
.menu a{
    font-size: 1.5em;
    text-decoration: none;
    color:inherit;
}
.menu li :hover{
    background: rgba(8, 8, 8, 0.5);
    color: white;
}
.info{
    background-color: rgb(102, 216, 234,0.9);
    margin-left: -12px;
    margin-right: -12px;
    margin-top: -17px;
    font-size: 1.1em;
}
.corpo{
    background-color: white;
    text-align: left;
}
.corpo .row{
    margin-top: 70px;
}
.corpo img{
    width: 200px;
    height: 200px;
    background-color: white;
}
.corpo figure{
    display: flex;
    font-size: 0.7em;
}
.corpo span{
    margin-left: 10px;
    background-color: aquamarine;
    margin-bottom: -55px;
    width: 180px;
}
.corpo button{
    background: aquamarine;
    padding-right: 37px;
    padding-left: 37px;
    box-shadow: rgba(64,247,240,0.9051995798319328);
}
.corpo button:hover{
    background-color: rgb(102, 216, 234,0.9);
    color: white;
}
.cpu{
    background-color: rgb(117, 220, 236, 0.8) ;
    width: 300px;
    height: 350px;
    font-size: 1.5em;
    border-style: solid;
    border-color: hsl(188, 76%, 69%,0.8);
}
footer{
    background: rgb(91,255,0);
    background: linear-gradient(90deg, rgba(91,255,0,1) 0%, rgba(98,228,233,0.9612219887955182) 0%, rgba(89,159,231,1) 34%, rgba(64,247,240,0.9051995798319328) 68%, rgba(95,146,199,1) 99%);    
    margin-top: 30px;
}
.redes-sociais p{
    text-align: center;
    margin-right: 110px;
    font-size: 1.5em;
    padding-top: 55px;
}
.redes-sociais ul{
    display: flex;
    list-style: none;
    margin-left: 480px;
    font-size: 2em;
}
.criacao{
    background-color: grey;
    text-align: right;
    font-size: 0.7em;
}
header span{
    color: aqua;
}